@tailwind base;
@tailwind components;
@tailwind utilities;

.geoapify-autocomplete-input{
  border: none !important;
  outline: none;
  background: transparent !important;
  font-size: 16px !important;
}
.geoapify-autocomplete-items {
  top: 140% !important;
  left: -48px !important;
  border: none !important;
  box-shadow: 0 1px 10px 1px #c5c5c5 !important;
  border-radius: 8px !important;
}
.geoapify-autocomplete-item{
  padding-left: 15px !important;
}

.geoapify-close-button {
  display: none !important;
}

.leaflet-popup-close-button {
  display: none !important;
}

/* .leaflet-popup-content {
  text-align: center !important;
} */

.leaflet-routing-container {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
}